* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --almost-white: #FFFDFA;
    --dark-blue: #00001A;
    --gunmetal: #5E607A;
    --vermillion: #F15051;
    --yellow: #E9AA52;
    --silver: #C5C6CE;
}

body {
    padding: 1.7rem 1rem;
    background-color: var(--almost-white);
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mobile button {
    border: none;
    background: none;
}

.primeira-section {
    margin-bottom: 4rem;
}

.primeira-section img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.primeira-section h1 {
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.primeira-section p{
    font-size: .9375rem;
    line-height: 1.625rem;
    color: var(--gunmetal);
    margin-bottom: 1.5rem;
}

.primeira-section button {
    padding: 0.75rem 2rem;
    background-color: var(--vermillion);
    border: none;
    text-transform: uppercase;
    color: var(--almost-white);
    font-weight: 700;
    font-size: .875rem;
    letter-spacing: .275rem;
    line-height: 1.5rem;
}

.segunda-section {
    background-color: var(--dark-blue);
    margin-bottom: 4rem;
    padding: 1.5rem 1.1rem;
}

.margem-borda-padding {
    border-bottom: 1px solid var(--silver);
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
}



.segunda-section h2{
    color: var(--yellow);
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2.2rem;
}

.segunda-section h3{
    color: var(--almost-white);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 800;
    margin-bottom: .5rem;
}

.segunda-section p{
    color: var(--silver);
    font-size: .9375rem;
    line-height: 1.625rem;

}